---
name: Build Go Cache

"on":
  workflow_dispatch:


permissions:
  contents: read
  
jobs:
  setup-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          #ref: ${{ github.event.release.tag_name }}
          ref: v3.2.8
    
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ./src/go.mod
          cache: false

      - name: Set Go cache date
        shell: bash
        run: echo "GO_CACHE_DATE=$(date +%Y-%m-%d)" >> $GITHUB_ENV
      
      - name: Go Cache Paths
        id: go-cache-paths
        run: |
          #echo "::set-output name=go-build::$(go env GOCACHE)"
          #echo "::set-output name=go-mod::$(go env GOMODCACHE)"
          
          #echo "GO_CACHE_DATE=$(date +%Y-%m-%d)" >> $GITHUB_ENV
          
          echo "go-build=$(go env GOCACHE)" >> $GITHUB_ENV
          echo "go-mod=$(go env GOMODCACHE)" >> $GITHUB_ENV

      # Cache go build cache, used to speedup go test
      - name: Go Build Cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.go-cache-paths.outputs.go-build }}
          key: ${{ runner.os }}-go-build-${{ hashFiles('**/go.sum') }}
      
      # Cache go mod cache, used to speedup builds
      - name: Go Mod Cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}          
